/*---------all-product-------*/

.all-product{
    display: flex;
    justify-content: space-between;
    
    margin: 30px 200px;

}

.all-product select{
    border-color: #ff523b;
    height: 30px;
    width: 120px;
}
.all-product h2{
   
    text-decoration: underline orangered;

}

.page-btn{
    margin-top:50px;
    margin-left:170px;
}

.page-btn span{
    border: 1px solid orangered;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    padding: 6px 8px;
    cursor: pointer;
}


.page-btn span:hover{
  background-color: orangered ;
  color: white;
}
